<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.system.mapper.sys.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.yh.system.domain.entity.sys.SysDict">
    <!--@mbg.generated-->
    <!--@Table sys_dict-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="field_key" jdbcType="VARCHAR" property="fieldKey" />
    <result column="field_value" jdbcType="VARCHAR" property="fieldValue" />
    <result column="field_value_backup" jdbcType="VARCHAR" property="fieldValueBackup" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, created_by, last_modified_by, created_date, last_modified_date, deleted, dict_name, 
    dict_code, description, field_key, field_value, field_value_backup
  </sql>
</mapper>