<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.system.mapper.sys.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.yh.system.domain.entity.sys.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        username, `password`, nick_name, phone, email, open_id, sex, birthday
    </sql>

    <select id="pageUserInfoDTO" resultType="com.yh.system.domain.dto.user.UserInfoDTO">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE
        1=1
        <if test="dto.usernameSearch != null and dto.usernameSearch != ''">
            and username like CONCAT('%',#{dto.usernameSearch},'%')
        </if>
        <if test="dto.nickNameSearch != null and dto.nickNameSearch != ''">
            and nick_name like CONCAT('%',#{dto.nickNameSearch},'%')
        </if>
        <if test="dto.phone != null and dto.phone != ''">
            and phone = #{dto.phone}
        </if>
    </select>
</mapper>