<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.system.mapper.sys.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.yh.system.domain.entity.sys.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        username, `password`, nick_name, phone, email, open_id, sex, birthday
    </sql>

    <select id="listPage" resultType="com.yh.system.domain.dto.user.UserInfoDTO">
        select u.*, r.id as roleId, r.role_name as roleName, r.description as roleDescription
        from sys_user u
                     left join sys_user_role sur on u.id = sur.user_id
                     left join sys_role r on sur.role_id = r.id
                WHERE 1 = 1
        <if test="dto.username != null and dto.username != ''">
            and u.username like <![CDATA[concat('%', #{dto.username}, '%')
            ]]>
        </if>
        <if test="dto.roleId != null and dto.roleId != ''">
            and r.id = #{dto.roleId}
        </if>
        order by u.created_date desc
    </select>
</mapper>